.dropdown {
  box-shadow: 0 0 1px black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  /* margin: 1.5em 0; */
}

/* large dropdown styles */
.dropdown.large {
  /* background-color: red; */
  width: clamp(500px, 20%, 280px);
  margin: 1.5em 0;
}

.dropdown.large.open {
  box-shadow: 0 0 3px #646cff;
}

/* medium dropdown styles */
.dropdown.medium {
  /* background-color: blue; */
  width: 100%;
  margin: 0.8em 0;
}

.dropdown.medium.visible > div:nth-child(1) {
  /* justify-content: end; */
}

.dropdown > div:nth-child(1) {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown > div:nth-child(1) button {
  background: none;
}

.dropdown > div:nth-child(1) button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown > div:nth-child(2) {
  width: 90%;
}

/* text styles */
.dropdown h1 {
  font-size: 2em;
  margin: 0;
}

.dropdown h2 {
  font-size: 1.3em;
  margin: 0;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: cut;
  border: 1px black;
}
