.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  background-color: white;
}

/* large dropdown styles */
.dropdown.large {
  border-radius: 12px;
  box-shadow: 0 0 3px gray;
  width: 26rem;
  min-width: 286px;
  margin: 1.5em 0;
}

/* medium dropdown styles */
.dropdown.medium {
  width: 100%;
  margin: 0.8em 0;
  border-bottom: 1px solid gray;
}

.dropdown > div:nth-child(1) {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown > div:nth-child(1) button {
  background: none;
}

.dropdown > div:nth-child(1) button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown > div:nth-child(2) {
  width: 90%;
}

/* text styles */
.dropdown h1 {
  font-size: max(1.6rem, 20.8px);
  margin: 0;
}

.dropdown h2 {
  font-size: max(1.3rem, 16.9px);
  margin: 0;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px black;
}
