#editor {
  width: 26rem;
  min-width: 286px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label,
.description p {
  font-weight: 600;
  font-size: max(1rem, 13px);
}

.input input,
.description input {
  width: 95%;
  height: max(2rem, 28px);
  border-radius: 8px;
  margin-bottom: max(0.6rem, 7.8px);
  border: 1px solid gray;
  outline: none;
  box-sizing: border-box;
  padding-left: 0.7rem;
  font-size: max(0.8rem, 10.4px);
}

.input input:focus {
  outline: 1px auto #646cff;
  box-shadow: 0 0 1px black;
}

.add,
.delete {
  background-color: #213547;
  color: white;
  margin: 0.3rem 0;
}

.add:hover {
  opacity: 0.9;
}

.delete {
  background-color: red;
}

.delete:hover {
  background-color: rgba(265, 0, 0, 0.8);
}

.description > div:nth-child(1) {
  display: flex;
  align-items: center;
  /* min-height: 185.8px; */
}

.description > div:nth-child(n + 2) {
  margin-bottom: 1rem;
  position: relative;
}

.description input {
  margin: 0;
}

.description > div:nth-child(1) button {
  margin-left: max(0.5rem, 6.5px);
}

.description > div button {
  padding: 0.3rem 0.5rem;
}

.description .delete {
  background: none;
  position: absolute;
  margin: 0;
}

.description .delete img {
  height: max(1.5rem, 19.5px);
}
