#menu {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 1px black;
  width: 100%;
  height: max(3.5em, 45.5px);
  position: sticky;
  top: 0px;
  background-color: #f8f9fa;
  z-index: 1;
}

#menu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1em;
  width: clamp(1350px, 100%, 280px);
}
/* header styles */
#menu div h1 {
  margin: 0px;
  font-size: max(2rem, 26px);
}

/* buttons container */
#menu-buttons {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
}

/* button styles */
#menu-buttons > button {
  border-radius: 10px;
  background: none;
}

#menu-buttons > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#menu-buttons > button:nth-child(3) {
  background-color: #213547;
  color: white;
}

#menu-buttons > button:nth-child(3):hover {
  opacity: 0.9;
}

#menu-dropdown > div:nth-child(1) {
  position: relative;
}

#menu-dropdown {
  width: 15px;
  height: 26.5px;
}

#menu-dropdown > div:nth-child(1) {
  display: flex;
  justify-content: end;
}

#menu-dropdown #menu-buttons {
  padding: 1rem;
  background-color: #f8f9fa;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 46.5px;
}

#menu-dropdown.open img {
  transform: rotate(90deg);
  transition-duration: 0.1s;
}

@media (max-width: 550px) {
  #menu-buttons {
    justify-content: flex-end;
  }
}
