#menu {
  /* grid-column: 1 / 3; */
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 1px black;
  width: 100%;
  height: max(3.5em, 45.5px);
  position: sticky;
  top: 0px;
  background-color: #f8f9fa;
}

#menu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 1em;
  width: clamp(1350px, 100%, 280px);
}
/* header styles */
#menu div h1 {
  margin: 0px;
  font-size: max(2rem, 26px);
}

/* buttons container */
#menu > div > div {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
}

/* button styles */
#menu > div > div > button {
  border-radius: 10px;
  background: none;
}

#menu > div > div > button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#menu > div > div > button:nth-child(3) {
  background-color: #213547;
  color: white;
}

#menu > div > div > button:nth-child(3):hover {
  opacity: 0.9;
}

@media (max-width: 550px) {
  #menu > div > div {
    justify-content: flex-end;
  }
}
