:root {
  --resume-width: 40rem;
}

#resume-container {
  box-shadow: 0 0 5px gray;
  margin-top: 1.5em;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 1.5rem; */
  width: var(--resume-width);
  min-height: calc(var(--resume-width) / 8.5 * 10.5);
  background-color: white;
  flex-grow: 1;
}

h1,
h3,
h4,
p,
h3,
li {
  word-break: break-all;
}

/* @media print {
  @page {
    size: auto 50mm;
  }
} */
