.section {
  width: 90%;
}

.section h2 {
  margin: 0.4rem 0 0 0;
  font-size: 0.8rem;
}

.section > div {
  box-sizing: border-box;
  padding: 0 0.7rem;
}

.section > div > div {
  display: flex;
  justify-content: space-between;
}

.section hr {
  margin: 0.1rem;
}

h3 {
  font-size: 0.75rem;
}

h3,
p,
ul,
h4 {
  margin: 0;
}

h4 {
  margin-right: 0.1rem;
}

p,
li {
  font-size: 0.6rem;
}

ul {
  padding-left: 1.6rem;
  line-height: 0.8rem;
}

li::marker {
  font-size: 0.65rem;
}

.section > div > div:nth-child(1) p {
  font-size: 0.65rem;
}

.section > div > div:nth-child(2) p {
  font-size: 0.62rem;
}
